---
import { Icon } from "astro-icon/components";
---

<footer>
  <div class="flex gap-2 items-center justify-center pb-8">
    <p>2024 - Hecho con</p>
    <Icon name="heart" size={16} />
    <p>y</p>
    <Icon name="astro" size={16} />
    <p>Astro</p>
  </div>
</footer>
